.md-grid {
    max-width: min(1600px, calc(100% - 48px));
}

.md-typeset {
    line-height: 1.75;
}

.md-tabs__list {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1220px) {
    .md-content {
        max-width: 980px;
    }

    .md-content__inner {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }
}
